body {
    font-family: sans-serif;
    padding: 1rem;
}

.header {
    background-color: #A9E0FC;
    color: whitesmoke;
    height: 9rem;
    padding: 1rem;
    -webkit-text-stroke-color: #B3C1F2;
    -webkit-text-stroke-width: 2px;
    font-size: 22pt;
    line-height: 80%;
}

.toy-box-card {
    text-align: center;
    border: grey solid 1px;
    border-radius: 25px;
    padding: 1rem;
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #A5E6DF
  }

.toy-box-photo {
    justify-self: center;
    height: 12rem;
    width: auto;
    border-radius: 10px;
}

.toy-card {
    text-align: center;
    border: grey solid 1px;
    border-radius: 25px;
    padding: 1rem;
    width: 20rem;
    height: 40rem;
    display: inline-block;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #A5E6DF
}

.toy-photo {
    justify-self: center;
    height: 12rem;
    width: auto;
    border-radius: 10px;
}

h3 {
    padding-left: 2rem;
}

#toy-box-form {
    text-align: center;
    border: grey solid 1px;
    border-radius: 25px;
    width: 25rem;
    height: 8rem;
    display: inline-block;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #A5E6DF
}

#toy-form {
    text-align: center;
    border: grey solid 1px;
    border-radius: 25px;
    padding: 2rem;
    width: 80rem;
    height: 10rem;
    display: none;
    margin: 2rem 2rem;
    box-shadow: 3px 4px #A5E6DF
}

#secret-id {
    color: white;
    display: none;
}

button {
    background-color: #B3C1F2;
    border: none;
    border-radius: 10px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
    font: bold;
}

